body{
 	background-image: url(fond1.jpg);
 }

#content {
  min-height: calc(100vh - 320px);
}

.fond_blur {
	margin-top: 80px;
	background-color: #FFFFFF80;
	padding: 20px;
	border-radius: 30px;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

.liste{
	color: black;
	display: block;
}

.coucou{
	color: white;

}

.row{
	margin-top: 50px;
}

.error {
	background-color: #FE5656FF;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding:20px;
	color: white;
}
